{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "printWidth": 120,
  "quoteProps": "consistent",
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "all"
}
